# backup files
*.default
*~

# remove pdf too
*.pdf

build/

# Only keep sources and diagrams for SRD
SRD/bin/

# Keep only CMakeLists files and do not take Makefiles
Makefile
**/Makefile

# Do not track CMake tmp directories
CMakeFiles/
**/CMakeFiles/
# Or files
*.cmake
**/*.cmake
CMakeCache.txt

# Do not track executable files
bin/

# Add your IDE's temporary files extension here
	# code::blocks
*.cbp
