# backup files
*.default
*~

# remove pdf too
*.pdf

# Build
build/*
build/*/
# Keep prebuild scripts
!build/initdatabase/
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled README
README.html
**/README.html

# Only keep sources and diagrams for SRD
SRD/*
!SRD/*.tex

# Keep only CMakeLists files and do not take Makefiles
Makefile
**/Makefile

# Do not track CMake tmp directories
CMakeFiles/
**/CMakeFiles/
# Or files
*.cmake
**/*.cmake
CMakeCache.txt

# Do not track executable files
bin/
*.exe
*.out
*.app

# Do not track database files
*.db

# Add your IDE's temporary files extension here
	# code::blocks
*.cbp
*.layout
	# Geany
*.geany
	# CodeLite
*.workspace
*.project
	# vim
*.swp

# Do not commit the resources changes
resources/
!resources/common/initdatabase.sql

# Do not track the documentation
doxygen.cfg
doc/

